html,
body {
    height: 100%
}

a,
h2 {
    font-family: Merienda One;
}

.header,
.footer {
    text-align: center;
}

.header {
    line-height: 5vw;
}

img {
    width: 100%;
}

.navbar {
    border-bottom: 1px solid gray;
}

.footer {
    font-size: 1.5vw;
    line-height: 2.5vw;
    border-top: 1px solid gray;
    padding: 25px;
    bottom: 0;
    width: 100%;
}

.nav-link {
    font-size: 1.5vw;
    padding-right: .25em;
    padding-left: .25em;
}

.container {
    padding-bottom: 10px;
}

#company-name {
    font-size: 2.25vw;
    font-weight: 500;
}

.navbar-brand {
    font-size: 5vw;
}

a:link,
a:visited {
    color: darkgray;
}

a:active,
a:hover {
    color: lightblue;
    text-decoration: none;
}

.dropdown-menu {
    width: 200px;
    left: 50%;
    margin-left: -100px;
}

.dropdown-item {
    line-height: 2vw;
}

@media (max-width: 991px) {
    .nav-link {
        font-size: 4vw;
        text-align: left;
    }
    #company-name {
        display: none;
    }
    .dropdown-menu {
        width: 100%;
        left: 0%;
        margin-left: 0px;
    }
}