body {
    background-color: whitesmoke;
}

.header,
.footer {
    text-align: center;
}

img {
    width: 100%;
}

.navbar {
    border-bottom: 1px solid gray;
}

.footer {
    font-size: 1.5em;
    line-height: 20px;
    border-top: 1px solid gray;
    padding-top: 25px;
}

.nav-link {
    font-size: 1.5em;
    line-height: 100px;
}

.container {
    padding-bottom: 10px;
}

#company-name {
    font-size: 2em;
}

a:link,
a:visited {
    color: lightgray;
}

a:active,
a:hover {
    color: lightblue;
    text-decoration: none;
}

img {
    align-content: center;
}

.dropdown-menu {
    width: 200px;
    left: 50%;
    margin-left: -100px;
}

html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: .8em;
    }
    .nav-link {
        font-size: 1.5em;
        line-height: 20px;
    }
    .dropdown-menu {
        width: 100%;
        left: 0%;
        margin-left: 0px;
    }
    .navbar-brand {
        display: inline;
    }
}